fastapi
uvicorn
motor
pymongo
pydantic
pydantic-settings
email-validator
passlib[bcrypt]
bcrypt
python-multipart
python-dotenv
python-jose[cryptography]
pytest
pytest-asyncio
httpx
pytest-mock
bcrypt==4.0.1